<!--Edit Admin Modal -->
<div class="modal fade" id="edit-admin-modal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                    <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-lock"></span>Edit User</h4>
                </div>
                <div class="modal-body">
                    <div style="display:none" class="error-msg alert alert-danger">
                        <!-- Error desc will be added from js -->
                    </div>
                    <input name="id" type="hidden" autofocus />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="first_name"><span class="glyphicon glyphicon-user"></span> First Name</label>
                            <input type="text" class="form-control" id="first_name" placeholder="Enter first name" name="fname">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="surname"><span class="glyphicon glyphicon-user"></span> Surname</label>
                            <input type="text" class="form-control" id="surname" placeholder="Enter surname" name="lname">
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="user_name "><span class="glyphicon glyphicon-user "></span> User Name</label>
                        <input type="text " class="form-control " id="user_name " placeholder="Enter new user name " name="uname">
                    </div>

                    <div class="form-group ">
                        <label for="address "><span class="glyphicon glyphicon-envelope "></span> Address</label>
                        <input type="text " class="form-control " id="address " placeholder="Enter address " name="addr">
                    </div>

                    <div class="form-group ">
                        <label for="contact "><span class="glyphicon glyphicon-earphone "></span> Contact No.</label>
                        <input type="text " class="form-control " id="contact " placeholder="Enter contact " name="ph">
                    </div>

                </div>
                <div class="modal-footer ">
                    <button type="button " class="btn btn-default pull-left " data-dismiss="modal ">Close</button>
                    <button type="submit " class="btn btn-primary ">Save Change</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Close -->