{% extends 'base.html' %} {% block content %} {% include 'sidebar.html' %}

<div class="col-sm-10 main">
    <h2>Available Product List</h2>
    <!-- <p>The .table-hover class enables a hover state on table rows:</p> -->
    <table class="table table-hover" id="product-list-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Qty.</th>
                <th>Price Per Unit</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script type="text/html" id="product-list-table-tpl">
    <tr>
        <td data-content="product_id"></td>
        <td data-content="product_name"></td>
        <td data-content="product_description"></td>
        <td data-content="product_quantity"></td>
        <td data-content="product_price"></td>
    </tr>
</script>
</div>

</div>
{% endblock %}