<div class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-2 sidebar text-left">
            <hr>
            <h4>Choose Action</h4>
            <hr>
            <ul class="nav nav-pills nav-stacked">
                <li id="sale"><a href="http://localhost:5000/sales">Sale</a></li>
                <li id="purchase"><a href="http://localhost:5000/purchase">Purchase</a></li>
                <li id="AddProduct"><a href="http://localhost:5000/Products">Add Product</a></li>
                <br>
                <hr>
                <h4>Trasaction History</h4>
                <hr>
                <li id="purchaseHistory"><a href="http://localhost:5000/purchaseDetail">Purchase History</a></li>
                <li id="saleHistory"><a href="http://localhost:5000/saleDetail">Sale History</a></li>
            </ul>
        </div>